extends layout

block content
    h1 Proposal List
    table.table.table-striped.table-hover
      thead
        th Level
        th  Title 
        th.text-right Actions
      tbody
        each proposal in proposals
          tr
            td
              if (proposal.impact == 1)
                span.badge.badge-secondary(title="Affects a few people who are already aware") Level 1 
              if (proposal.impact == 2)
                span.badge.badge-primary(title="Affects several people, who may not be aware") Level 2 
              if (proposal.impact == 3)
                span.badge.badge-info(title="Affects a large proportion of members") Level 3 
              if (proposal.impact == 4)
                span.badge.badge-warning(title="Affects everyone") Level 4 
              if (proposal.impact == 5)
                span.badge.badge-danger(title="Affects the future of the organisation") Level 5
            td 
              a(href="/proposals/view/" + proposal._id)=  proposal.title
            td.text-right
              .control-group
                a(href="/proposals/view/" + proposal._id,role="button").btn.btn-primary.btn-sm View
                a(href="/proposals/edit/" + proposal._id,role="button").btn.btn-warning.btn-sm Edit
                a(href="/proposals/results/" + proposal._id,role="button").btn.btn-secondary.btn-sm Results
